body{
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: hidden;
}

.gay{
    width: 100vw;
    height: 12vh;
    margin: 0 auto;
    text-align: center;
}

#root{
    font-size: 50px;
}

.gif{
    width: 100vw;
    text-align: center;
}